.header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: bisque;
}

.no {
    background-color: rgb(255, 137, 137);
}

.si {
    background-color: rgb(112, 255, 112);
}

#main-header {
    background: #333;
    color: white;
    height: 80px;
}

#main-header a {
    color: white;
}

/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}


/*
 * Navegación
 */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}

body {
    margin: 0;

    /*background: linear-gradient(to right, #ff7979, #ffd9d9);*/
}

.padre {

    height: 600px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hijo {

    width: 70%;
    height: 70%;

    background-color: rgba(50, 78, 87, 0.2);
    margin: 0;
}

.contenedor {
    margin: 0;
    background-color: blue;
}