.header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: bisque;
}

.no {
    background-color: rgb(255, 137, 137);
}

.si {
    background-color: rgb(112, 255, 112);
}