.no {
    background-color: rgb(255, 89, 89);
    text-align: center;
}

.si {
    background-color: rgb(112, 255, 112);
    margin: 0;
    padding: 0;
    text-align: center;
}

@keyframes pruebamov {
    0% {
        height: 100vh;
    }

    100% {
        height: 25vh;
    }
}

.wrapper {
    height: 25vh;
}


@media (max-width: 425px) {
    .search_box input[type="text"] {
        width: 80%;
    }

    .cener {
        margin-left: 3%;
        margin-top: 3%;
    }

    @keyframes pruebamov {
        0% {
            height: 100vh;
        }

        100% {
            height: 200px;
        }
    }

    .wrapper {
        height: 200px;
    }


}